*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

body {
  background:url(../a.jpg);
  font-family: 'Titillium Web', sans-serif;
  background-size:cover;
}

a {
  text-decoration: none;
  color: #fff;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  padding: 15px;

  max-width: 600px;
  margin: 20px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  /*/*box-shadow: 0 4px 10px 4px 4px;*/
  transition: .3s ease;
  box-sizing: border-box;
}

.form:hover {
	box-shadow: 0px 0px 40px 16px rgba(18,18,18,1.00);
	}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #000;
  color: #fff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255,255,255,0.7);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: red;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #000;
  margin-top:-10px;
}

input {
  font-size: 22px;
  display: block;
  width: 50%;
  height: 50%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus{
  outline: 0;
  border-color: #000;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom:10px;
}
	 *
	 {
		 margin:0px;
		 padding:0px;

	 }
	 body
	 {
	 background-image: url("D:/Project Work/Project/Final_Project/backimg.jpg");
	 font-family: sans-serif;
	 }
	 #menu ul
	 {
		 list-style:none;
		 float:right;
		 margin-bottom:120px;
		 margin-right:20px;
	 }
	 #menu ul li
	 {
		/*border:1px solid white;*/
		 font: 20px Century Gothic;
		 width:120px;
		 height:35px;
		 
		 line-height:35px;
		 text-align:center;
		 float:left;
		 position:relative;
		 border-radius:8px;
		 box-shadow: 2px 2px 4px 2px #888888;
		 text-shadow: 2px 2px 16px yellow;
	 }
	#menu ul li a
	{
		text-decoration:none;
		color:white;
		display:block;	
	}
	#menu ul li a:hover
	{
		background-color:White;
		border-radius:8px;
		color:black
	}
	#menu ul ul
	{
		position:absolute;
		display:none;
	}
	#menu ul li:hover > ul
	{
		display:block;
		
	}
	#gate{
	display: block;
	width: 300px;
	height: 35px;
	margin-top: 150px;
	margin-left: 950px;
	padding: 12px;
	background: #FFFFFF;
	text-align: center;
	border: 1px solid grey;
	border-radius: 7px;
	box-shadow: rgba(110,110,110,0.7) 8px 8px 10px;
    }
	#gate a{
	
    width: 300px;
	height: 35px;	
	text-decoration: none;
	color: #000000;
	font: 20px Century Gothic;
	text-shadow: rgb(110,110,110) 1px 1px 2px;
	word-spacing: 2px;
	display:block;
	line-height:35px;
    }
	
	
	#lab{
	display: block;
	width: 300px;
	height:35px;
	margin-top: 60px;
	margin-left: 950px;
	padding:12px;
	background: #FFFFFF;
	text-align: center;
	border: 1px solid grey;
	border-radius: 7px;
	box-shadow: rgba(110,110,110,0.7) 8px 8px 10px;
    }
	#lab a{
		
	width: 300px;
	height:35px;
	text-decoration: none;
	color: #000000;
	font: 20px Century Gothic;
	text-shadow: rgb(110,110,110) 1px 1px 2px;
	word-spacing: 2px;
	line-height:35px;
	display:block;
    }
	
	
	
	
	
	
	
	
	
	
	/*form{
    width: 300px;
    border: 4px solid green;
    padding: 0px;
    margin-bottom:100px;
	margin-left:800px;
	
	box-sizing:auto;
	border-radius:8px;
	
	background-image: url("D:/Project Work/New folder/backimg.jpg");
	
	}
	
	
	
	
	button {
    background-color: #4caf50; /* Green */
   /* border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius:8px;
}
input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f00;
    border-radius: 8px;
    box-sizing: border-box;
    
}
input[type=password], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 7px;
    display: inline-block;
    border: 1px solid #f00;
    border-radius: 8px;
    box-sizing: border-box;
    
}
input[type=button] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
	font-size:16px;
    padding: 14px 20px;
    margin: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ff0000;
}
    
	
	.container{
    margin:0px auto;
    width: 600px; 
}*/
     
