/*font-family: 'Open Sans', sans-serif;*/

/*font-family: 'Lato', sans-serif;*/
html{
	height: 80%;
}
body{
	background-image: url("https://source.unsplash.com/wn-KYaHwcis");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#main_name{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 27px;
	color: balck;
	letter-spacing: 1.5px;
}
#logo{
	padding-top: 3%;
}
.navbar-default{
	background: rgba(0,0,0,0);
	border: none;
}
.nav>li>a{
	position: relative;
    display: block;
    padding: 10px 18.3px
}
.navbar-default .navbar-nav>li>a{
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.person{
	float: right;
	width: 23%;
	padding-top: 2%;
}
#login{
	color: black;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
#signup{
	color: black;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

#home{
	color: black;
	text-decoration: none;
}